*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home{
    background-color: aqua;
    width: 30px;
}
.nav-menu{
    background-color:lightgray;
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
}
.nav-ink{
    display: flex;
    margin-left: auto;
}
.nav-item{
    background-color:blue;
    color:white;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
}
.parent{

    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 400px;
    margin-top: 20px;
}
.child-one{
    background-color: azure;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child-two{
    background-color: azure;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child-three{
    background-color: azure;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child-four{
    background-color: azure;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}