h1{
    background-color: blue;
    color: violet;
}
p{
    background-color: pink;
    color: black;
}
h2{
    background-color: teal;
    color: brown;
}
h3{
    background-color: burlywood;
    color: black;
}
h4{
    background-color: cyan;
    color: green;
}